@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, .container {
    height: 100%;
}

:root {
    --sidebar-width: 200px;
}

.root {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}
